<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Home</h1>
    <form action="/users/signout" method="get">
    <div>
        <input type="submit" value="Sign out"/>
    </div>
  </form>
  </body>
</html>
