<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <ul>
      <% daybooks.forEach(function(daybook) { %>
        <li>
          <%= daybook.name %>
        </li>
      <% }) %>
    </ul>

    <form action="/daybooks" method="post">
      <fieldset>
        <legend>Create a new user</legend>
          <label>
          name:
          <input type="string" name="name" />
          <input type="submit" value="Create daybook" />
        </label>
      </fieldset>
    </form>


  </body>
</html>
